Package: com.404meemr.darkpowerselector
Name: DarkPowerSelector
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A dark mode for the PowerSelector app so that my eyes don’t suffer permanent damage
Maintainer: 404meemr
Author: 404meemr
Section: Tweaks
Version: 1.0.0-19+debug
Installed-Size: 152
